
proj/sprites/spr_mapTile/spr_mapTile.yy
proj/sprites/spr_disparo/spr_disparo.yy
proj/sprites/spr_barreira/spr_barreira.yy
proj/sprites/spr_arma/spr_arma.yy
proj/rooms/Room1/Room1.yy
proj/proj.yyp
proj/proj.resource_order
proj/objects/obj_disparo/obj_disparo.yy
proj/objects/obj_barreira/obj_barreira.yy
proj/objects/obj_arma/obj_arma.yy
proj/rooms/Room1/Room1.yy
proj/proj.yyp
proj/proj.resource_order
